
/* ---------- Color Module Styles ----------- */

body,
body.overlay {
  color: #3b3b3b;
}
.comment .comment-arrow {
  border-color: #ffffff;
}
#page,
#main-wrapper,
#main-menu-links li a.active,
#main-menu-links li.active-trail a {
  background: #ffffff;
}
.tabs ul.primary li a.active {
  background-color: #ffffff;
}
.tabs ul.primary li.active a {
  background-color: #ffffff;
  border-bottom: 1px solid #ffffff;
}
#header {
  background-color:  #00163B;/*
  background-image: -moz-linear-gradient(top, #304c85 0%, #1A3B7E 100%);
  background-image: -ms-linear-gradient(top, #304c85 0%, #1A3B7E 100%);
  background-image: -o-linear-gradient(top, #304c85 0%, #1A3B7E 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #304c85), color-stop(1, #1A3B7E));
  background-image: -webkit-linear-gradient(top, #304c85 0%, #1A3B7E 100%);
  background-image: linear-gradient(top, #304c85 0%, #1A3B7E 100%);*/
}
a {
  color: #0071B3;
}
a:hover,
a:focus {
  color: #018fe2;  
}
a:active {
  color: #23aeff;
}
.sidebar .block {
  background-color: #f6f6f2;
  border-color: #f9f9f9;
}
#page-wrapper,
#footer-wrapper {
  background: #00163B;
}
.region-header,
.region-header a,
.region-header li a.active,
#name-and-slogan,
#name-and-slogan a,
#secondary-menu-links li a {
  color: #fffeff;
}
